html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: Montserrat-300;
  font-style: normal;
  font-weight: 300;
  src: url(/src/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat-400;
  font-style: normal;
  font-weight: 400;
  src: url(/src/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  src: url(/src/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-600;
  font-style: normal;
  font-weight: 600;
  src: url(/src/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-700;
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Film P3;
  font-style: normal;
  font-weight: 700;
  src: url(/src/fonts/FilmP3Bold.ttf);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media screen and (min-width: 414px) {
    max-width: 414px;
  }
  @media screen and (min-width: 960px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1140px) {
    max-width: 1140px;
  }
}

.header {
  background-color: sienna;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 28px;
}
.logo {
  padding-top: 16px;
  margin-right: 52px;
}
.logo_navigation {
  font-family: Film P3;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
}
.menu__link {
  font-family: Montserrat-500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  padding-top: 28px;
}
.menu__tel-icon {
  fill: #f3c653;
}

.menu__tel {
  font-family: Montserrat-400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hotel {
  display: flex;
  align-items: center;
}
